.form {
    margin: 5em auto;
    padding: 3em;
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    background-color: #DEF3F5;
    border-radius: 5px;
    box-shadow: -15px 15px 25px rgb(211, 211, 211);
}

.connexion-label {
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: left;
    color: #679B9B;
}

h1 {
    margin: 0;
}

.connexion-button {
    margin-top: 3em;
    padding: 0.2em;
    text-transform: uppercase;
}

.incorrect {
    color: red;
}