.MessagesContainer {
  background-color: #DEF3F5;
  border-radius: 10px;
  text-align: left;
  margin: 1rem 0;
  padding: 1rem 0;
}

.msg-container-title {
  color: #707070;
  padding-left: 1rem;
  margin: 1rem;
}

.scrollMessages {
  height: 270pt;
  overflow: auto;
  margin: 0 1rem 1rem 1rem;
}