.Messages {
  background-color: white;
  color: #707070;
  text-align: left;
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  border-radius: 10px;
}

.Messages p {
  margin: 0;
}

.msg-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.msg-small {
  font-style: italic;
  font-size: 12px;
}

.readMore {
  margin: 0;
}