.NavBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin: 0 1rem;
}

.navbar-emergency {
  border: 1px solid red;
  background-color: white;
  color: red;
  padding: 1rem;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 4rem;
}

.logo-app {
  width: 6rem;
  margin: 1rem 0;
}